@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Pathway+Gothic+One&display=swap");

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.logo {
	font-family: "BIZ UDGothic", sans-serif;
	font-family: "Pathway Gothic One", sans-serif;
}

.slider {
	width: 0px;
	transform: scale(0);
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	background: white;
	cursor: pointer;
	border-radius: 50px;
}

.volume:hover .slider {
	outline: none;
	width: 50px;
	transform: scale(1);
}

.timeline::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: calc(100% - var(--preview-position) * 100%);
	background: rgb(150, 150, 150);
	display: none;
}
.timeline::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: calc(100% - var(--progress-position) * 100%);
	background: red;
}

.timeline-container:hover .timeline {
	height: 100%;
}
.timeline-container:hover .timeline::before {
	display: block;
}
